*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Para los formularios de contacto*/
.form-contact{
  --form-ok-color:#4caf50;
  --form-error-color:#f1083a;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background-color: #3e8ead;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    box-sizing: border-box;
}
.form-contact>*{
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.form-contact h2{
    font-size: 22px;
  margin-bottom: 20px
}
.form-contact label{
    height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-contact [required]{
    
    text-decoration: none;
    width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.form-contact textarea{
  resize: none;
}
.form-contact input:hover{
    color: white;
    text-decoration: underline;
    
}
.form-contact [type="submit"]{
    width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
.form-contact *::placeholder{
  columns: #000;
}
.form-contact [required]:valid{
  border:thin solid var(--form-ok-color);
}
.form-contact [required]:invalid{
  border:thin solid var(--form-error-color);
}
.form-contact-error{
  margin-top: -1rem;
  font-size: 100%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}
.form-contact-loader{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.form-contact-error.is-active{
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;;
}
.form-contact [type="button"]
{
  width: 100%;
  background: #18ec5f;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
.none{
  display: none;
}
@keyframes show-message{
  0%{
      visibility: hidden;
      opacity: 0;
  }
  100%{
      visibility: visible;
      opacity: 1;
  }
}
@media screen and (max-width:600px)
{
  .form-contact{
    width: 100%;
    
  }
  table{
    width: 100%;

  }
  thead{
    display: none;
  }
  tr:nth-of-type(2n){
    background-color: inherit;
  }
  tr td:first-child{
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
  }
  tbody td{
    display: block;
    text-align: center;
  }
  tbody td:before{
    content:attr(data-th);
    display: block;
    text-align: center;
  }
}
/*Para las tablas de mostrar*/
.main-table{
  margin: 150px auto;
  width: 600px;
}
table{
  background-color: #37344d;
  text-align: left;
  border-collapse: collapse;
  width: 80%;

}
th, td{
  padding: 20px;
}
thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:hover{
  background-color: #369681;
  color: white;
}
tr{
  color: white;
}
/*boton*/
.boton-personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 10%;
  border:2px solid  #0016b0;
  margin: 5%;
  margin-top:2px;
}
.boton-personalizado:hover{
  color:#1883ba;
  background-color: #ffffff;
}
.centrado
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*para el footer*/
.footer{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
    left: 0;
  position: fixed;
}
/*para los botones de editar y borrar*/
.edit{
  
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
   
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.delete{
  background-color: #f1083a;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
 
  border-radius: 6px;
  border: 2px solid #5c0a1c;
}
.edit:hover{
  color: #1883ba;
  background-color: #ffffff;
}
.delete:hover{
  color: #f1083a;
    background-color: #ffffff;
}
